@import '~rsuite/dist/rsuite.min.css';
@enable-css-reset: false;

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rs-body: #edf6ff;
}

.home_gradient_bg {
  background: linear-gradient(135deg, #1488cc 0%, #2b32b2 100%);
}
