.cta::after {
    position: absolute;
    right: -10%;
    content: '';
    height: 35px;
    width: 35px;
    background-color: #ff4a57;
    display: inline-block;
    -webkit-clip-path: polygon(100% 100%, 0 0, 0 100%);
    clip-path: polygon(100% 100%, 0 0, 0 100%);
  }
  