.li li{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    color : #787C8B;
    font-size: 16px;
    line-height: 19px;
    padding : 4px 0px 1px 0px;
}

.li2 li{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    color : #787C8B;
    font-size: 16px;
    line-height: 19px;
    padding : 4px 0px 4px 0px;
}


.arrow{
    border-radius: 50%;
    box-shadow: 0px 2px 5px #333;
}

.imgOutside{
    background-image: url("../../public/Rectangle 3.png");
    background-repeat: no-repeat;
    background-position: fixed;
}

.imgInside{
    background-image: url("../../public/code-image.png");
    background-repeat: no-repeat;
    background-position: fixed;
}

@media (min-width: 350px) and (max-width: 654px) {
    .services h1{
      font-size: 2rem;
      font-weight: 700;
    }

    .services p{
        font-size: 1rem;
        font-weight: 500;
        line-height: 24px;
      }
  }